.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(65, 90, 119, 0);
  border-radius: 1rem;
  padding: 16px;
  background: rgba(13, 27, 42, 0);
  backdrop-filter: blur(10px);
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid rgba(65, 90, 119, 0.3);
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: rgba(13, 27, 42, 0.9);
  overflow: hidden;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 1px solid rgba(65, 90, 119, 0.3);
}

.carousel-item.round {
  background-color: rgba(13, 27, 42, 0.9);
  position: relative;
  bottom: 0.1em;
  border: 1px solid rgba(65, 90, 119, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #F0EBD8;
}

.carousel-indicator.inactive {
  background-color: rgba(240, 235, 216, 0.4);
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(65, 90, 119, 0.3);
  border: 1px solid rgba(65, 90, 119, 0.4);
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: #e0e1dd;
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #e0e1dd;
}

.carousel-item-description {
  font-size: 14px;
  color: #e0e1dd;
  opacity: 0.9;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #F0EBD8;
}

.carousel-indicator.inactive {
  background-color: rgba(240, 235, 216, 0.4);
}

