@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: #0d1b2a;
    color: #e0e1dd;
    overflow-x: hidden;
  }

  * {
    @apply outline-none border-0;
  }
}
